.welcome-component{
    margin-top: 10px;
    font-size: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.167);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
}

.welcome-txt-welcome-page{
    padding-left: 20px;
}

.profile-complete-txt{
    background-color: rgb(249, 230, 220);
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    font-size: 14px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.748);
    font-weight: 500;
}
.profile-complete-txt button{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgba(240, 248, 255, 0);
    padding-left: 3px;
    color: blueviolet;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
}

.under-welcome-msg-component-verify-btn-container{
    margin-top: 10px;
}

.under-welcome-msg-component-verify-btn-container button{
    width: 300px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.261);
    padding: 5px;
    background-color: rgb(131, 229, 141);
    color: rgba(59, 59, 59, 0.96);
    font-weight: 600;
}
.under-welcome-msg-component-verify-btn-container button:hover{
    width: 300px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.261);
    padding: 5px;
    background-color: rgb(88, 222, 101);
    color: white;
    font-weight: 600;
}